In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine('postgresql://postgres:<your_postgres_password>@localhost/mar_mor')

In [3]:
engine

Engine(postgresql://postgres:***@localhost/mar_mor)

In [4]:
posts = pd.read_sql('select * from marandmor_post', engine)

In [5]:
posts.head()

,id,Item,Date_Posted,Price,Created_By_id,Specification,Modified_By_id,Modified_Date
0,1,Transformers,2020-10-31 15:27:00.930248+00:00,3600000,1,None,1,2020-10-31 16:37:06.468013+00:00
1,2,Circuit Breaker,2020-10-31 15:31:15.641293+00:00,500000,1,None,1,2020-10-31 16:37:25.835331+00:00
2,3,Chiller Systems,2020-10-31 15:32:52.062704+00:00,300000,1,None,1,2020-10-31 16:37:51.223369+00:00

In [ ]:
# From this point on, you proceed with the regular data analysis techniques on the data obtained from the web platform database.

In [ ]:
# Resources:
# https://towardsdatascience.com/data-engineering-with-python-django-and-postgresql-99409492769
# https://docs.sqlalchemy.org/en/13/core/engines.html